<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Edit User</h1>

    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/users/add">Add user</a>
    
    <h2>Ini halaman EDIT USER</h2>
    <form action="/users/edit/<%= user.id %>" method="post">
        <input type="text" name="name" id="name" value="<%= user.name %>">
        <input type="password" name="password" id="password" value="<%= user.password %>">
        <input type="text" name="email" id="email" value="<%= user.email %>">
        <input type="text" name="age" id="age" value="<%= user.age %>">
        <select name="gender" id="gender">
            <%
            var options = ["male", "female"];
            for ( var i = 0; i < options.length; i++ )
            {
                var isSelected = ( user.gender == options[i] ) ? "selected" : "";
            %>  
            <option value="<%=options[i]%>" <%=isSelected %>>
                <%= options[i] %>
            </option>
            <%
            }
            %>
        </select>

        <input type="submit" value="Simpan">
    </form>
</body>
</html>
